* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #183059;
  font-family: "Poppins", sans-serif;

}

.container {
  width: 500px;
  margin: 0 auto;
}

.header {
  background: #276fbf;
  color: #f6f4f3;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
}

.currencies {
  margin: 15px 0px 15px 0px;
  border-radius: 5px;
  background: #af5b5b;
  display: grid;
  padding-bottom: 10px;
  height: 200px;
}


.amounts {
  grid-column-start: 1;
  display: grid;
}

.amount {
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  border: none;
  margin: auto;
  width: 80%;
  font-size: 20px;
}

.amount:read-only:hover {
    cursor:default;
}

.titles {
  grid-column-start: 2;
  display: grid;
  align-items: center;
}

.title {
  margin: auto;
  color: #f6f4f3;
  padding: 10px -30px;
  border: none;
  border-radius: 5px;
  height: 50px;
  font-size: 20px;
}


.convert-btn {
  width: 500px;
  margin: auto;
  color: #f6f4f3;
  background: #8fb2d9;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  transition: 0.3s;
}

.convert-btn:hover {
  background: #f03a47;
}
